
@font-face {
    font-family: 'Playfair Display';
    src: url('../../assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../../assets/fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../../assets/fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
        url('../../assets/fonts/PlayfairDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairSC Display';
    src: url('../../assets/fonts/PlayfairDisplaySC-Regular.woff2') format('woff2'),
            url('../../assets/fonts/PlayfairDisplaySC-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Regular.woff2') format('woff2'),
            url('../../assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Semibold.woff2') format('woff2'),
            url('../../assets/fonts/Inter-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../../assets/fonts/PlusJakartaSans-SemiBold.woff2') format('woff2'),
            url('../../assets/fonts/PlusJakartaSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@tailwind base;
@tailwind components;

@layer components{
    .button-main{
        @apply flex items-center gap-[12px] p-[10px_30px] rounded-[0_22px_0_22px] font-playfairsc text-[14px] text-white bg-brand;
        @apply xl:text-[16px] xl:p-[15px_35px] xl:rounded-[0_32px_0_32px];
    }
    .button-main svg{
        @apply w-[18px] h-[18px] xl:w-[20px] xl:h-[20px] transition-all;
    }
    .button-main:hover svg{
        @apply -rotate-45;
    }
}

@tailwind utilities;

@layer utilities{
    .scrollbar{
        scrollbar-color:#6D1600 #6d160021;
        scrollbar-width: thin;
    }
    
    .bars {
        @apply w-[30px] cursor-pointer border border-solid border-current rounded-[0_12px_0_12px];
        .line {
            stroke-width: 3;
            stroke-linecap: square;
            transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms;
            &.top, &.bottom {stroke-dasharray: 40 172;}
            &.middle {stroke-dasharray: 40 111;}
        }
        &.active{
            .top, .bottom {stroke-dashoffset: -132px;}
            .middle {stroke-dashoffset: -71px;}
        }
    }

    .menu {@apply transition-[height,opacity] duration-200;}
    .menu li {@apply transition-[opacity] duration-100;}

    .menu.show {@apply h-screen opacity-100 transition-[height] duration-200;}
    .menu.show li{
        @apply opacity-100 transition-[opacity] duration-100;
            &:nth-child(4){transition-delay: 200ms;}
            &:nth-child(3){transition-delay: 300ms;}
            &:nth-child(2){transition-delay: 400ms;}
            &:nth-child(1){transition-delay: 500ms;}
    }
}